.App h1 {
  text-align: center;
}

a {
  color: white;
}

.content {
  margin-top: 20px;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

table {
  width: 65%;
}

th, td {
  text-align: left;
}

td {
  padding: 10px 10px 10px 0px;
}

input {
  width: 60%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.class-image {
  width: 150px;
  height: auto;
}